<div class="modal-header">
	<h4 class="modal-title" translate>Reset</h4>
	<button type="button" class="close" aria-label="Close"
			(click)="activeModal.dismiss('closed')">
			<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p translate>Are you sure to reset the counter?</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary"
			(click)="activeModal.dismiss('cancel')"
			aria-label="Cancel" translate>
			Cancel
	</button>
	<button type="button" class="btn btn-primary btn-default"
			(click)="activeModal.close('logout')"
			ngbAutofocus aria-label="Reset" translate>
			Reset
	</button>
</div>
